<section  id = "login-form" class="bg0 p-t-104 p-b-116">
    <div class="container">
            
        <div class="flex-w flex-tr">
            <toaster-container></toaster-container>
            <div id="inner-form" class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form name="loginForm" class="form-horizontal" autocomplete="off" ng-submit = "$npc.newPasswordUser(loginForm.$valid)" novalidate>
                     
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                      Change Passwords
                    </h4>
                    <div class="form-group" ng-class="{ 'has-error' :loginForm.email.$error.email || loginForm.email.$error.required && !loginForm.email.$pristine}">         
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <span class="form-control">
                                <input disabled  type="email" autocomplete="off"  name="email" ng-model = "$npc.user.email"  class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" placeholder="Your Email Address" required>
                            </span>
                            <img class="how-pos4 pointer-none" src="assets/images/icons/icon-email.png" alt="ICON">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' :loginForm.password.$error.pattern || loginForm.password.$error.required || loginForm.password.$error.maxlength || loginForm.password.$error.minlength && !loginForm.password.$pristine}">
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <span class="form-control">
                                <input type="password" autocomplete="off" ng-model="$npc.user.password" ng-pattern = "/^\S*$/" ng-maxlength = "12" ng-minlength="6" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="password" placeholder="new Password" data-toggle="popover" data-content="6-16 characters, no spaces allowed." data-placement="right" data-trigger="focus"required>
                            </span>
                            <img class="how-pos4 pointer-none" src="assets/images/icons/lock-icon.png" alt="ICON">
                        </div>
                    </div>

                    <button type="submit" ng-disabled = "loginForm.$invalid" class="btn flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" >
                        Submit new password
                    </button>
                    

                </form>
            </div>
        </div>
    </div>
</section>
