<section  id = "reset-form" class="bg0 p-t-104 p-b-116">
    <div class="container">
             
        <div class="flex-w flex-tr">
            <toaster-container></toaster-container>
            <div id="inner-form" class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form name="resetForm" class="form-horizontal" autocomplete="off" ng-submit = "$rec.resetUser(resetForm.$valid)" novalidate>
                     
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                      Reset Password
                    </h4>
                    <div class="form-group" ng-class="{ 'has-error' :resetForm.email.$error.email || resetForm.email.$error.required && !resetForm.email.$pristine}">         
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <span class="form-control">
                                <input  type="email" autocomplete="off"  name="email" ng-model = "$rec.user.email"  class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" placeholder="Your Email Address" required>
                            </span>
                            <img class="how-pos4 pointer-none" src="assets/images/icons/icon-email.png" alt="ICON">
                        </div>
                    </div>

                    <button type="submit" ng-disabled = "resetForm.$invalid" class="btn flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" >
                        Submit
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>
